body {
	font-family: "Times New Roman", Georgia, Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}

#nav{
	letter-spacing:4px;
}

#home{
	max-width:1600px;
	min-width:500px;
}

#contenido{
	max-width:1100px;
}